<!-- The Modal -->
<div class="modal fade" id="create_room">
    <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
    
        <!-- Modal Header -->
        <div class="modal-header">
        <h4 class="modal-title">Create room</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label for="room_name">Room name:</label>
                <input type="text" class="form-control" id="room_name">
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <div class="text-right">
                <button type="button" class="btn btn-danger" id="create" data-dismiss="modal">Create room</button>
            </div>
        </div>       
    </div>
    </div>
</div>