<!-- The Modal -->
<div class="modal fade" id="show_rooms">
<div class="modal-dialog modal-dialog-scrollable">
<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
    <h4 class="modal-title">Rooms</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body">
        <div id="total_users"></div>
        <div id="rooms"></div>
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
    </div>
    
</div>
</div>
</div>