{% extends 'base.html' %}

{% block content %}

        <div class="shadow p-4 mb-4 bg-white">
            <div class="text-center my-5">
                <h3>Welcome to Chat Rooms</h3>
            </div>
            <form method="POST" action="/">
                <div class="form-group">
                    <label for="username">Enter your username:</label>
                    <input type="text" class="form-control" id="username" name='username'>
                    {% if pick_another %}
                    <div class="text-center text-danger mt-2">Pick another username.</div>
                    {% endif %}
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Enter</button>
                </div>
            </form>
        </div>

{% endblock %}